.navbar-brand{
    font-size: 30%;
    font-style: inherit;
    font-family: 'Lobster', cursive;
}

.paddingTop{
    padding-top: 100px;
}

.margenes{
    margin-left: auto;
    margin-right: 120px;
}

.margenes-marca{
    margin-left: 60px;
}

.post{
    background-color: #fff;
    margin: 30px
}

.navbar-light .navbar-brand{
    margin: 0 64px;
}

.navbar-expand-md .navbar-collapse {
    margin: 0 64px;
}

/* BUTTONS */

.btn-primary{  
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-primary:hover {
    color: #28a745;
    background-color: transparent;
    border-color: #28a745;
}

.btn-secondary:hover{
    color:#6c757d;
    background-color: transparent;
    border-color: #6c757d;
}
/* END BUTTONS */

/* ICONS */
.icons{
    margin-right: auto !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

.icons-view{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.fa-ellipsis-v{
    padding-right: 10px;
    color: #c0c0c0;
}
.fa-heart{
    font-size: 20px;
    padding-right: 15px;
    color: #c0c0c0;
}

.fa-instagram{
    color: #949394 !Important;
    display: flex;
    font-size: 25px;
    flex-flow: row wrap;
    gap: 0px 10px !important;
}
/* END ICONS */

.section-padding{
   padding-top: 80px;
}

.date h4{
    width: 92%;
   
}